<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Hakkımda</h2>
<div class="summary">
    <p>01/01/1992 tarihinde Aydın'da doğdum.Ekrem Çiftçi İlköğretim Okulu ve Emel-Mustafa Uşaklı Anadolu Lisesi'ni 
	bitirdikten sonra 2011 yılında Çukurova Üniversitesi Bilgisayar Mühendisliği Bölümüne başladım. 
	İngilizce Hazırlık sınıfı dahil 2016 yılında mezun oldum.</p>
	<p> Mezuniyetten sonra bir süre freelance olarak çalıştım ve 07/03/2017' de
	kendi şirketimi kurdum ve yaklaşık 1 yıl boyunca fikrimi hayata geçirmeye çalıştım 
	fakat çeşitli sebeplerden dolayı başarılı olamadım.</p>
	<p>2018 Şubat ayında Aydın Adnan Menderes Üniversitesi Fizik bölümünde yüksek lisansa başladım ve hâla devam ediyorum.Yüksek lisans 
	çalışmam, quantum algoritmaları ile yapay zeka uygulamaları üzerine gerçekleşecek.</p>
	<p>Hayatım boyunca <b>meraklı</b> bir kişi oldum.Özellikle teknolojik ve bilimsel gelişmeler beni çok heyecanlandırıyor ve bu gelişmeler 
	ile ilgili derinlemesine akademik araştırmalar yapıyorum.<b>Takım Çalışmasına</b> yatkınım ve <b>iletişim gücüm</b> oldukça yüksektir.
	<b>Analiz yeteneğim</b> güçlüdür ve <b>problem çözmeyi</b> severim.<b>Kendi kendine öğrenebilen</b> ve zamanını etkin kullanan, zamanı daha verimli yönetmek için 
	sürekli <b>plan</b> yapan biriyimdir.Bir problemi çözme konusunda <b>motivasyonum ve sabrım</b> oldukça yüksektir.Sürekli ve verimsiz çalışmak 
	yerine kendime uygun <b>çalışma stratejilerim</b> vardır ve bu sayede daha verimli çalışırım.Her ne kadar karar alma süreçlerinde mantık çerçevesinde
	hareket etsem de, inandığım doğruların peşinden gitme <b>tutkusuna</b> da sahibim.Bu yönde <b>hislerime de oldukça güvenirim</b>.
	</p>
</div><!--//summary-->
</section><!--//section-->
