<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Hakkımda</h2>
<div class="summary">
    <p>01/01/1992 tarihinde Aydın'da doğdum.Ekrem Çiftçi İlköğretim Okulu ve Emel-Mustafa Uşaklı Anadolu Lisesi'ni 
	bitirdikten sonra 2011 yılında Çukurova Üniversitesi Bilgisayar Mühendisliği Bölümüne başladım. 
	İngilizce Hazırlık sınıfı dahil 2016 yılında mezun oldum.</p>
	<p> Mezuniyetten sonra bir süre freelance olarak çalıştım ve 07/03/2017' de
	kendi şirketimi kurdum ve yaklaşık 1 yıl boyunca fikrimi hayata geçirmeye çalıştım 
	fakat çeşitli sebeplerden dolayı başarılı olamadım.</p>
	<p>2018 Şubat ayında Aydın Adnan Menderes Üniversitesi Fizik bölümünde yüksek lisansa başladım ve hâlâ devam ediyorum.Yüksek lisans 
	çalışmam, quantum algoritmaları ile yapay zeka uygulamarı üzerine gerçekleşecek.</p>
	<p>Hayatım boyunca meraklı bir kişi oldum.Özellikle teknolojik ve bilimsel gelişmeler beni çok heyecanlandırıyor ve bu gelişmeler 
	ile ilgili derinlemesine akademik araştırmalar yapıyorum.Takım Çalışmasına yatkınım ve iletişim gücüm oldukça yüksektir.
	Analiz yetenğim güçlüdür ve problem çözmeyi severim.Kendi kendine öğrenebilen ve zamanını etkin kullanan, zamanı daha verimli yönetmek için 
	sürekli plan yapan biriyimdir.Bir problemi çözme konusunda motivasyonum ve sabrım oldukça yüksektir.Sürekli ve verimsiz çalışmak 
	yerine kendime uygun çalışma stratejilerim vardır ve bu sayede daha verimli çalışırım.Her ne kadar karar alma süreçlerinde mantık çerçevsinde
	hareket etsemde, inandığım doğrularından peşinden gitme tutkusuna da sahibimdir.Bu yönde hislerime de oldukça güvenirim.
	</p>
</div><!--//summary-->
</section><!--//section-->
