<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Hakkımda</h2>
<div class="summary">
    <p>01/01/1992 tarihinde Aydın'da doğdum.Ekrem Çiftçi İlköğretim Okulu ve Emel-Mustafa Uşaklı Anadolu Lisesi'ni bitirdikten sonra 2011 yılında Çukurova Üniversitesi Bilgisayar 
		Mühendisliği Bölümüne başladım. İngilizce Hazırlık sınıfı dahil 2016 yılında mezun oldum. 
       Hayatım boyunca meraklı bir kişi oldum.Araştırmaya ve yeniliğe açık, takım çalışmasına yatkın, yoğun iş temposuna ayak uydurabilecek ve daima öğrenmeye açığımdır.
	   Gelecekte,bilişim alanında kendi şirketime sahip olmak istediğim için, bulunduğum şirkette, her türlü aşamada, tecrübe edinmek isterim.Sonuç itibariyle
		eğitim hayatım boyunca öğrendiğim teorik bilgileri pratiğe dönüştürmek istediğim gibi, kendimi geliştirebileciğim her türlü yeni bilgiyi öğrenip,
		sıradan bir çalışan değil, fark yaratan bir çalışan olmak istiyorum. </p>
</div><!--//summary-->
</section><!--//section-->