<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>DENEYİMLER</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Staj</h3>
                            <div class="time">01/07/2015 - 30/07/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Map Yazılım, Ankara</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
							-ASP.NET MVC ile şirketin web sitesi yapımı
						<p>	-WCF altyapısının ve şirketin kendi framework yapısının incelenmesi</p>
						<p>	-Veritabanı ve iş katmanı arasında kullanılacak MSSQL sorgularının yazılması</p>
						<p>	-HRBaseTR programının kodlarının ve yapı bütünlüğünün incelenmesi</p>
						</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Staj</h3>
                            <div class="time">11/01/2016 - 13/02/2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Ekin Yazılım, Adana</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
						<p>	-ZNFramework yapısının incelenmesi</p>
						<p>	-PHP ve MVC yapısı</p>
						<p>	-Veritabanı CRUD işlemlerinin yapılması</p>
						</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
                
            </section><!--//section-->