<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Klasik ve elektro gitar çalmak</li>
<li>Dünya ve Türk klasikleri, felsefe ve bilim-kurgu romanları okumak</li>
<li>Popüler bilim ve teknoloji dergilerini okumak</li>
<li>Satranç oynamak</li>
<li>Takım oyunları oynamak</li>
<li>Video oyunları oynamak</li>
</ul>
</div><!--//interests-->




<div class="remove-container container-block">
<ul class="list-unstyled interests-list">
</ul>
</div><!--//interests-->