<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projeler</h2>
                <div class="intro">
                    <p>Okulda ve stajda yapmış olduğum projelerdir.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://mega.nz/#!w1VUBDwK!HCC74zphZRKXdjgUguS3anW9GixSyd4eNy_f2X5eWA4">Matlab</a></span> - <span class="project-tagline">Yapay sinir ağları ile internet ağındaki bir linke ait 
					trafik yoğunluğunun,gelecekteki değerlerini tahmin eden, arayüze sahip programın geliştirilmesi.
</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://www.miniclip.com/games/shove-it/tr/" target="_blank">Shove It Oyunu</a></span> - 
                    <span class="project-tagline">Allegro kütüphanesi kullanarak, C dili ile Shove It oyununun yapılması. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Ön Muhasebe Programı</a></span> - <span class="project-tagline">C# dili ve MVC yapısıyla veritabanı olan basit bir ön muhasebe programı yapılması. </span>
                </div><!--//item-->
               
            </section><!--//section-->