<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Beceriler &amp; Yeterlilik</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">C</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">C#</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					 
					 
		   <div class="item">
                        <h3 class="level-title">MSSQL &amp MySQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
					
		    <div class="item">
                        <h3 class="level-title">ASP.NET MVC &amp Entity Framework</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
		     <div class="item">
                        <h3 class="level-title">Git ve Github</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="level-title">PHP Laravel</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
                   <div class="item">
                        <h3 class="level-title">Javascript &amp AJAX</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="72%">
                            </div>                                      
                        </div><!--//level-bar--> 
			   
			   
		    <div class="item">
                        <h3 class="level-title">C++</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="72%">
                            </div>                                      
                        </div><!--//level-bar--> 
			   
                    </div><!--//item-->
			<div class="item">
                        <h3 class="level-title">Restful Web Servis</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
                    <div class="item">
                        <h3 class="level-title">Angular.Js</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
			<div class="item">
                        <h3 class="level-title">Ionic</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
			<div class="item">
                        <h3 class="level-title">Python &amp Tenserflow</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
                    <div class="item">
                        <h3 class="level-title">Arduino</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
		  <div class="item">
                        <h3 class="level-title">Matlab</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
		   <div class="item">
                        <h3 class="level-title">OpenStack</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
			
		    <div class="item">
                        <h3 class="level-title">Unit Test</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
		   
		    <div class="item">
                        <h3 class="level-title">Jenkins</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
